* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*INDEX*/
body {
  background-color: #d4bcd6;
  /*MEDIA QUERIES INDEX*/
  /*Small devices Index (576 a 768px)*/
  /*Extra Small devices (300 a 576px)*/ }
  body header {
    position: sticky;
    margin: .9em; }
    body header nav {
      background-color: #a0b986; }
      body header nav .container-fluid .diseno-titulo {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 20px; }
        body header nav .container-fluid .diseno-titulo a {
          text-decoration: none;
          font-family: 'Urbanist', sans-serif;
          font-weight: 300;
          color: #2e3532;
          font-size: 2rem; }
          body header nav .container-fluid .diseno-titulo a:hover {
            color: white; }
      body header nav .container-fluid .botoncito {
        background-color: #F8FAFF;
        border: solid #F8FAFF; }
    body header div div .navbar-nav a {
      font-family: 'Urbanist', sans-serif;
      font-weight: bold, 600; }
      body header div div .navbar-nav a:hover {
        color: #2e3532; }
    body header div div .navbar-nav .color-nav {
      color: white; }
  body main {
    display: grid;
    grid-template-areas: "banner banner banner"  "el-subtitulo el-subtitulo el-subtitulo" "carousel carousel carousel" "las-cards las-cards las-cards";
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto auto auto auto;
    border: solid 5px #2e3532;
    margin: 1em;
    padding: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    color: #2e3532;
    font-size: medium; }
    body main .banner {
      grid-area: banner;
      background-image: url(../images/02.jpg);
      background-position: center center;
      justify-content: space-around;
      padding-bottom: 5%;
      height: 7em; }
    body main h2 {
      font-family: 'Urbanist', sans-serif;
      font-weight: 300;
      color: #2e3532;
      font-size: 25px;
      grid-area: el-subtitulo;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-left: 1rem;
      margin-bottom: 2rem;
      padding-top: 1rem; }
    body main .carousel {
      grid-area: carousel; }
    body main .las-cards .card {
      background-color: #d7d4d4; }
      body main .las-cards .card .card-img-top {
        height: 180px; }
      body main .las-cards .card .card-body {
        height: 7rem;
        text-align: center; }
        body main .las-cards .card .card-body h5 {
          font-family: 'Urbanist', sans-serif;
          font-weight: bold 600; }
          body main .las-cards .card .card-body h5 a {
            height: 40px;
            width: 150px;
            background-color: #f1a208;
            border-color: #f1a208;
            transition: ease-in 1s;
            color: #2e3532;
            font-weight: bolder; }
            body main .las-cards .card .card-body h5 a:hover {
              background-color: #f1a208;
              border-color: solid 2px #f1a208;
              transform: scale(1.1); }
        body main .las-cards .card .card-body .card-text {
          font-weight: 300;
          padding-bottom: 3rem;
          padding-right: 1.5rem;
          text-align: center; }
  body footer {
    display: grid;
    grid-template-areas: "el-footer el-footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color: #a0b986;
    margin: .9em;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: inline-flex;
    justify-content: space-between;
    align-items: center; }
    body footer .el-footer {
      grid-area: el-footer; }
    body footer .estilo-footer {
      font-family: 'Urbanist', sans-serif;
      font-size: .8rem;
      font-weight: bold;
      color: #2e3532; }
    body footer .flex-footer li {
      margin-top: 10px;
      padding: 5px; }
      body footer .flex-footer li a:link, body footer .flex-footer li a:visited, body footer .flex-footer li a:active {
        text-decoration: none;
        cursor: pointer; }
      body footer .flex-footer li a:hover {
        border-color: #F8FAFF; }
  @media (min-width: 576px) and (max-width: 768px) {
    body header .navbar .container-fluid div .menu {
      align-items: flex-start;
      font-size: 1rem; }
    body .main-grid {
      grid-template-areas: "banner"  "el-subtitulo" "carousel" "las-cards" "las-cards" "las-cards";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto; }
      body .main-grid .banner {
        width: 100%; }
      body .main-grid h2 {
        font-size: 1.2rem;
        text-align: center; }
      body .main-grid .las-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        gap: 2px; }
        body .main-grid .las-cards .card {
          display: block; }
    body footer {
      grid-template-areas: "el-footer el-footer";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; }
      body footer .el-footer {
        grid-area: el-footer; } }
  @media (min-width: 300px) and (max-width: 576px) {
    body header .navbar .container-fluid .diseno-titulo a {
      font-size: 1.5rem; }
    body header .navbar .container-fluid div .menu {
      align-items: flex-start;
      font-size: 1rem; }
    body .main-grid {
      grid-template-areas: "banner"  "el-subtitulo" "carousel" "las-cards" "las-cards" "las-cards";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto; }
      body .main-grid .banner {
        justify-content: space-around;
        height: 5rem; }
      body .main-grid h2 {
        font-size: 1.2rem;
        text-align: center; }
      body .main-grid .las-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center; }
    body footer {
      grid-template-areas: "el-footer el-footer";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; }
      body footer .el-footer {
        grid-area: el-footer; }
      body footer p {
        font-size: 5px; }
      body footer .flex-footer {
        display: flex;
        flex-direction: row; } }

/*DESARROLLO DPTO*/
body {
  background-color: #d4bcd6;
  /*MEDIA QUERIES DEPARTAMENTO*/
  /*Small devices (576 a 768px)*/
  /*Extra Small devices (300 a 576px)*/ }
  body header nav .container-fluid .diseno-titulo a {
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    color: #2e3532;
    font-size: 33.33333px; }
    body header nav .container-fluid .diseno-titulo a:hover {
      color: white; }
  body header nav .container-fluid .botoncito {
    background-color: #F8FAFF;
    border: solid #F8FAFF; }
  body .dpto-main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "banner banner" "diseno-subtitulo diseno-subtitulo"    "carousel carousel" "texto-departamento texto-departamento";
    border: solid 5px #2e3532;
    margin: 1em;
    padding: 1.3em;
    row-gap: 1.5em;
    padding: 1.5em;
    display: flex;
    flex-direction: column; }
    body .dpto-main-grid .banner {
      grid-area: banner; }
    body .dpto-main-grid .diseno-subtitulo {
      grid-area: diseno-subtitulo; }
    body .dpto-main-grid .carousel {
      grid-area: carousel; }
    body .dpto-main-grid .texto-departamento {
      grid-area: texto-departamento;
      font-family: 'Urbanist', sans-serif;
      font-weight: 300;
      color: black;
      font-size: 300;
      justify-content: center;
      border: solid #2E3532;
      padding: 3%; }
  body footer {
    display: grid;
    grid-template-areas: "el-footer el-footer";
    grid-column: 1fr 1fr;
    grid-row: auto;
    background-color: #a0b986;
    width: cover;
    height: 50px;
    margin: .9em;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    body footer .el-footer {
      grid-area: el-footer; }
    body footer .estilo-footer {
      font-family: 'Urbanist', sans-serif;
      font-size: .8rem;
      color: #2e3532; }
    body footer .flex-footer {
      font-family: 'Urbanist', sans-serif;
      font-size: 14.28571px; }
      body footer .flex-footer li {
        display: inline-flex; }
        body footer .flex-footer li a:link, body footer .flex-footer li a:visited, body footer .flex-footer li a:active {
          text-decoration: none;
          cursor: pointer; }
        body footer .flex-footer li a {
          color: #2e3532; }
          body footer .flex-footer li a:hover {
            color: white; }
  @media (min-width: 576px) and (max-width: 768px) {
    body header .navbar .container-fluid div .menu {
      align-items: flex-start; }
    body .dpto-main-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "banner" "diseno-subtitulo"    "carousel" "texto-departamento"; }
      body .dpto-main-grid h2 {
        font-size: 1.2rem;
        text-align: center; }
    body footer {
      grid-template-areas: "el-footer el-footer";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; }
      body footer .el-footer {
        grid-area: el-footer; } }
  @media (min-width: 300px) and (max-width: 576px) {
    body header .navbar .container-fluid div .menu {
      align-items: flex-start; }
    body .dpto-main-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "banner" "diseno-subtitulo"    "carousel" "texto-departamento"; }
      body .dpto-main-grid h2 {
        font-size: 1.2rem;
        text-align: center; }
    body footer {
      grid-template-areas: "el-footer el-footer";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; }
      body footer .el-footer {
        grid-area: el-footer; } }

/*DESARROLLO CORDOBA*/
body {
  background-color: #d4bcd6;
  /*MEDIA QUERIES CORDOBA*/
  /*Small devices (576 a 768px)*/
  /*Extra Small devices (300 a 576px)*/ }
  body .el-main-cba {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "banner banner" "diseno-subtitulo diseno-subtitulo"    "card-cba card-cba";
    border: solid 5px #2e3532;
    margin: 1em;
    padding: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #d4bcd6;
    display: flex;
    flex-direction: column;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    color: black;
    font-size: medium; }
    body .el-main-cba .banner {
      grid-area: banner; }
    body .el-main-cba h2 {
      text-align: left; }
    body .el-main-cba .card-cba {
      grid-area: card-cba;
      display: flex;
      flex-direction: column;
      padding: 2%; }
      body .el-main-cba .card-cba .carousel .carousel-inner .carousel-item .card-img-top {
        height: auto; }
      body .el-main-cba .card-cba .carousel .carousel-inner .carousel-item .carousel-caption {
        font-family: 'Paytone One', sans-serif;
        font-weight: 600;
        color: black; }
      body .el-main-cba .card-cba .texto-cordoba {
        border: solid 5px #F8FAFF;
        width: 100%;
        text-align: center;
        border: solid 3px #2e3532;
        margin-top: 5em;
        padding: 1rem; }
    body .el-main-cba footer {
      display: grid;
      grid-template-areas: "el-footer el-footer";
      grid-column: 1fr 1fr;
      grid-row: auto;
      background-color: #a0b986;
      width: cover;
      height: 50px;
      margin: .9em;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      body .el-main-cba footer .el-footer {
        grid-area: el-footer; }
      body .el-main-cba footer .estilo-footer {
        font-family: 'Urbanist', sans-serif;
        font-size: .8rem;
        color: #2e3532; }
      body .el-main-cba footer .flex-footer li {
        display: inline-flex; }
        body .el-main-cba footer .flex-footer li a:link, body .el-main-cba footer .flex-footer li a:visited, body .el-main-cba footer .flex-footer li a:active {
          text-decoration: none;
          cursor: pointer; }
        body .el-main-cba footer .flex-footer li a {
          color: #2e3532; }
          body .el-main-cba footer .flex-footer li a:hover {
            color: white; }
  @media (min-width: 576px) and (max-width: 768px) {
    body header .navbar .container-fluid div .menu {
      align-items: flex-start; }
    body .el-main-cba {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas: "banner " "diseno-subtitulo"    "card-cba"; }
      body .el-main-cba h2 {
        font-size: 1.2rem;
        text-align: center; }
    body footer {
      grid-template-areas: "el-footer el-footer";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; }
      body footer .el-footer {
        grid-area: el-footer; } }
  @media (min-width: 300px) and (max-width: 576px) {
    body header .navbar .container-fluid div .menu {
      align-items: flex-start; }
    body .el-main-cba {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas: "banner " "diseno-subtitulo"    "card-cba"; }
      body .el-main-cba h2 {
        font-size: 1.2rem;
        text-align: center; }
    body footer {
      grid-template-areas: "el-footer el-footer";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; }
      body footer .el-footer {
        grid-area: el-footer; } }

/*DESARROLLO ESTADIAS*/
body {
  background-color: #d4bcd6;
  /*MEDIA QUERIES ESTADIAS*/
  /*Small devices (576 a 768px)*/
  /*Extra Small devices (300 a 576px)*/ }
  body header nav div .diseno-titulo a {
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    color: #2e3532;
    font-size: 33.33333px; }
    body header nav div .diseno-titulo a:hover {
      color: white; }
  body header nav div .botoncito {
    background-color: #F8FAFF;
    border: solid #F8FAFF; }
  body .estadias-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "banner banner" "diseno-subtitulo diseno-subtitulo"    "estadia-bloque estadia-bloque" "estadia-bloque estadia-bloque";
    row-gap: 1.5em;
    border: solid 5px #2e3532;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 1em;
    padding: 1.3em;
    display: flex;
    flex-direction: column; }
    body .estadias-main .banner {
      grid-area: banner; }
    body .estadias-main h2 {
      grid-area: diseno-subtitulo; }
    body .estadias-main .estadia-bloque {
      grid-area: estadia-bloque;
      display: flex;
      flex-direction: column;
      flex-flow: column;
      align-items: center;
      gap: 2em;
      border: solid 3px #2e3532;
      border-radius: 0.5;
      padding: 3em;
      margin-top: 3em; }
      body .estadias-main .estadia-bloque .texto-estadia {
        width: auto;
        height: auto;
        text-align: center;
        font-weight: 300; }
      body .estadias-main .estadia-bloque .cards-estadia {
        font-family: 'Urbanist', sans-serif;
        font-weight: 300;
        color: black;
        font-size: medium;
        text-align: center;
        width: auto; }
        body .estadias-main .estadia-bloque .cards-estadia .card {
          display: flex;
          flex-wrap: wrap;
          align-self: center;
          font-family: 'Urbanist', sans-serif;
          font-weight: 300;
          color: white;
          font-size: 10px; }
          body .estadias-main .estadia-bloque .cards-estadia .card .card-body {
            text-align: center; }
            body .estadias-main .estadia-bloque .cards-estadia .card .card-body .card-title {
              font-weight: 400; }
            body .estadias-main .estadia-bloque .cards-estadia .card .card-body .boton-estadia {
              background-color: #f1a208;
              border-color: #f1a208; }
              body .estadias-main .estadia-bloque .cards-estadia .card .card-body .boton-estadia:hover {
                background-color: #f1a208;
                border-color: #f1a208; }
  body footer {
    display: grid;
    grid-template-areas: "el-footer el-footer";
    grid-column: 1fr 1fr;
    grid-row: auto;
    background-color: #a0b986;
    width: cover;
    height: 50px;
    margin: .9em;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    body footer .el-footer {
      grid-area: el-footer; }
    body footer .estilo-footer {
      font-family: 'Urbanist', sans-serif;
      font-size: .8rem;
      color: #2e3532; }
    body footer .flex-footer li {
      display: inline-flex; }
      body footer .flex-footer li a:link, body footer .flex-footer li a:visited, body footer .flex-footer li a:active {
        text-decoration: none;
        cursor: pointer; }
      body footer .flex-footer li a {
        color: #2e3532; }
        body footer .flex-footer li a:hover {
          color: white; }
  @media (min-width: 576px) and (max-width: 768px) {
    body header .navbar .container-fluid div .menu {
      align-items: flex-start; }
    body .estadias-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "banner banner" "diseno-subtitulo diseno-subtitulo"    "estadia-bloque estadia-bloque" "estadia-bloque estadia-bloque"; }
      body .estadias-main h2 {
        font-size: 1.2rem;
        text-align: center; }
      body .estadias-main .estadia-bloque {
        display: block; }
        body .estadias-main .estadia-bloque .cards-estadia {
          justify-content: center; }
    body footer {
      grid-template-areas: "el-footer el-footer";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; }
      body footer .el-footer {
        grid-area: el-footer; } }
  @media (min-width: 300px) and (max-width: 576px) {
    body header .navbar .container-fluid div .menu {
      align-items: flex-start; }
    body .estadias-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "banner banner" "diseno-subtitulo diseno-subtitulo"    "estadia-bloque estadia-bloque" "estadia-bloque estadia-bloque"; }
      body .estadias-main h2 {
        font-size: 1.2rem;
        text-align: center; }
      body .estadias-main .estadia-bloque {
        display: block;
        justify-content: center; }
        body .estadias-main .estadia-bloque .cards-estadia {
          justify-content: center; }
          body .estadias-main .estadia-bloque .cards-estadia .card {
            justify-self: center;
            align-self: center; }
    body footer {
      grid-template-areas: "el-footer el-footer";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto; }
      body footer .el-footer {
        grid-area: el-footer; } }

/*DESARROLLO CONTACTO*/
body {
  background-color: #d4bcd6;
  /*MEDIA QUERIES CONTACTO*/
  /*Small devices (576 a 768px)*/
  /*Extra Small devices (300 a 576px)*/ }
  body header nav div h1 a {
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    color: #2e3532;
    font-size: 33.33333px; }
    body header nav div h1 a:hover {
      color: white; }
  body header nav div .botoncito {
    background-color: #F8FAFF;
    border: solid #F8FAFF; }
  body .el-main-contacto {
    display: grid;
    grid-template-areas: "banner banner" "diseno-subtitulo diseno-subtitulo" "form-mapa form-mapa" "form-mapa form-mapa";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    border: solid 5px #2e3532; }
    body .el-main-contacto .banner {
      grid-area: banner; }
    body .el-main-contacto h2 {
      grid-area: diseno-subtitulo;
      text-align: left; }
    body .el-main-contacto .form-mapa {
      display: flex;
      flex-direction: row;
      font-family: 'Urbanist', sans-serif;
      font-weight: 300;
      color: #2e3532;
      font-size: medium;
      text-align: center;
      font-weight: bold;
      flex-wrap: wrap;
      grid-area: form-mapa;
      gap: 3em;
      justify-content: center; }
      body .el-main-contacto .form-mapa .campo-formulario {
        border: solid 3px #2e3532;
        padding: 3em; }
        body .el-main-contacto .form-mapa .campo-formulario .formulario {
          width: auto;
          height: auto;
          max-width: 500px;
          display: flex;
          flex-direction: column; }
          body .el-main-contacto .form-mapa .campo-formulario .formulario .input {
            width: 90%;
            height: 2em;
            margin: 0.5rem;
            transition: height 3s, width 3s;
            text-align: center; }
            body .el-main-contacto .form-mapa .campo-formulario .formulario .input:hover {
              height: 2em;
              width: 100%;
              border: solid 2px #f1a208; }
          body .el-main-contacto .form-mapa .campo-formulario .formulario .boton, body .el-main-contacto .form-mapa .campo-formulario .formulario .boton:hover {
            cursor: pointer;
            background-color: #f1a208;
            border-color: #f1a208; }
      body .el-main-contacto .form-mapa .campo-mapa {
        border: solid 3px #2e3532;
        justify-content: center;
        max-width: 500px;
        width: auto;
        height: auto;
        padding: 3em; }
  body footer {
    grid-template-areas: "el-footer el-footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; }
    body footer .el-footer {
      grid-area: el-footer; }
    body footer .estilo-footer {
      font-family: 'Urbanist', sans-serif;
      font-size: .8rem;
      color: #2e3532; }
    body footer .flex-footer li {
      display: inline-flex; }
      body footer .flex-footer li a:link, body footer .flex-footer li a:visited, body footer .flex-footer li a:active {
        text-decoration: none;
        cursor: pointer; }
      body footer .flex-footer li a {
        color: #2e3532; }
        body footer .flex-footer li a:hover {
          color: white; }
  @media (min-width: 576px) and (max-width: 768px) {
    body header .navbar .container-fluid div .menu {
      align-items: flex-start; }
    body .el-main-contacto {
      display: grid;
      grid-template-areas: "banner" "diseno-subtitulo" "form-mapa" "form-mapa";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto; }
      body .el-main-contacto .banner {
        display: flex;
        width: auto; }
      body .el-main-contacto h2 {
        font-size: 1.2rem;
        text-align: center; }
      body .el-main-contacto .form-mapa {
        display: flex;
        flex-direction: column; }
        body .el-main-contacto .form-mapa .campo-mapa {
          justify-items: center; }
    body footer {
      grid-template-areas: "el-footer el-footer";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; }
      body footer .el-footer {
        grid-area: el-footer; } }
  @media (min-width: 300px) and (max-width: 576px) {
    body header .navbar .container-fluid div .menu {
      align-items: flex-start; }
    body .el-main-contacto {
      display: grid;
      grid-template-areas: "banner" "diseno-subtitulo" "form-mapa" "form-mapa";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto; }
      body .el-main-contacto h2 {
        font-size: 1.2rem;
        text-align: center; }
      body .el-main-contacto .banner {
        display: flex;
        flex-wrap: wrap; }
      body .el-main-contacto .form-mapa {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto; }
    body footer {
      grid-template-areas: "el-footer el-footer";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; }
      body footer .el-footer {
        grid-area: el-footer; } }
