body{
    .el-main-cba {
        display: grid;
        grid-template-columns: 30% 30% 40%;
        grid-template-rows: 1fr 1.5fr 2fr;
        grid-template-areas:"banner banner banner"
                            "foto-cba foto-cba el-subtitulo"
                            "link-agencia link-agencia link-agencia";
        border: solid 5px $color-letra-oscuro; 
        background-color: $color-banner;
        margin-top: 6em;
        margin-bottom: 1em;
        height: 100%;
        background-image: url(../images/mathilde-langevin-8o9BX-Nht2E-unsplash.jpg); 
        background-position: top center;
        @include font-family (black, medium);  
        overflow-x: hidden; 
        .banner {
            grid-area: banner;
        } 
        .foto-cba{
            grid-area: foto-cba;
            width: 100%;
            height: 100%;
        }
        .el-subtitulo {
            grid-area: el-subtitulo;   
            border-bottom: solid 0 $color-banner; 
            width: 100%;
            height: 100%;
            margin-top: 3em;
            margin-right: -10em;

              .flip-card-inner {
                position: relative;
                transition: transform 0.5s;
                transform-style: preserve-3d;
              }              
              .flip-card:hover .flip-card-inner {
                transform: rotateY(180deg);
               
              }
                .flip-card-front, .flip-card-back {
                position: absolute;
                backface-visibility: hidden;
              }
              
              .flip-card-front {
                color: black;
                font-family: 'Sacramento', cursive;
                text-justify: center;
                margin: -1em 0 0 7em;
              }
              
              .flip-card-back {
                transform: rotateY(180deg);
                background-color: rgba(245, 245, 245, 0.257);
                border: solid 2px black;
                width: 80%;
                height: auto;
                margin-top: -.5em;
                margin-left: 1em;
                p {
                    margin: 2rem;
                    @include font-family (black, .9rem);
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        .link-agencia {
            grid-template-areas: "span span"
                                "links links";
            grid-template-columns: auto auto;
            grid-template-rows: 40% 60%;
            grid-area: link-agencia;
            width: 100%;
            height: 80%;
            padding-top: 20px;
            margin-top: 60px;
            gap: 9em;
            @include flexbox (column);
            background-image: url(../images/catastro-2.jpg);
            border: solid 2px $color-letra-oscuro;
            .span {
                grid-area: span;
                font-size: 1.5rem;
                justify-self: left;
                padding-top: 30px;
                padding-left: 30px;
                color: black;
                background-color: rgba(245, 245, 245, 0.586);
                height: 4em;
                width: 100%;
                border: solid black 2px;
            }
            .links {
                grid-area: links;
                @include flexbox (row);
                gap: 4em;
                justify-content: right;
               
        }
    }
}
        footer {
            display:grid;
            grid-template-areas: "el-footer el-footer";
            grid-column: 1fr 1fr;
            grid-row: auto;
            background-color: $color-header-footer;
            height: $margen/2;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .el-footer{
                grid-area: el-footer;
            }
            .estilo-footer {
                font-family: 'Urbanist', sans-serif;
                font-size: .8rem;
                color: $color-letra-oscuro;
                }
            .flex-footer {
                li {
                    display: inline-flex;
                    a:link, a:visited, a:active {
                        text-decoration: none;
                        cursor: pointer;
                    }
                    a {     
                        color: $color-letra-oscuro;
                        &:hover{
                            color: white;
                        }
                    }    
                }
            }
        }


  /*MEDIA QUERIES CORDOBA*/

    /*Small devices (576 a 768px)*/
    @media (min-width: 576px) and (max-width: 768px){
        .el-main-cba {
            grid-template-columns: .1fr 1fr .1fr;
            grid-template-rows: .5fr 1.2fr 1fr 2fr;
            grid-template-areas:"banner banner banner"
                                "el-subtitulo el-subtitulo el-subtitulo"   
                                "foto-cba foto-cba foto-cba"
                                "link-agencia link-agencia link-agencia";
            margin-bottom: 1em;
            @include font-family (black, medium);       
            .foto-cba{
                justify-self: center;
                min-width: auto;
                height: auto;
            }
            .el-subtitulo {  
                .flip-card {
                    justify-self: center;                                                        
                    .flip-card-front {
                    width: 100%;
                    margin-top: 1rem;
                    text-align: center;
                    margin-left: 0em;
                    p {
                        padding: 1rem 2rem 2rem -3rem;
                    }
                    }                    
                    .flip-card-back {
                    height: auto;   
                    min-width: 450px; 
                    margin-left: 1.3em;
                }
            }
        }
                .span {
                    margin-top: 6em;
                }
                .link-agencia {
                    grid-template-areas: "span span"
                                        "links links";
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto auto;
                    width: 100%;
                    height: 90%;
                    margin-top: 60px;
                    margin-bottom: 4em;
                    .links {
                        @include flexbox (row);
                        justify-self: center;
                        gap: 10px;
                        padding-left: 2em;
                        padding-top: 15em;
                        .logo {
                            width: 80%;
                            height: 80%;
                        }
                    }
                }
            }
        
    footer {
        grid-template-areas:"el-footer el-footer";                           
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        }
    }
}    
