body {
    header{
        nav{              
            div{
                h1{
                    a{
                        text-decoration: none;
                        @include font-family ($color-letra-oscuro, $margen/3);
                        &:hover {
                            color: white;}
                        }   
                    }
                    .botoncito{
                        background-color: #F8FAFF;
                        border: solid #F8FAFF;
                    }
                }
            }
        } 
    .el-main-contacto {
        display: grid;
        grid-template-areas:"banner banner"
                            "diseno-subtitulo diseno-subtitulo"
                            "form-mapa form-mapa"
                            "form-mapa form-mapa";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto; 
        border: solid 5px $color-letra-oscuro; 
        background-image: url(../images/mathilde-langevin-8o9BX-Nht2E-unsplash.jpg);  
        background-position: left center;          
        .banner{
            grid-area: banner;
        }
        h2 {
            grid-area: diseno-subtitulo;
            text-align: left;
            font-family: 'Sacramento', cursive;
            font-size: 3rem;
            padding-bottom: 5rem;
            padding-top: 2em;
            padding-left: 2em;
            color: black;
        }
        .form-mapa{
            @include flexbox(row);
            @include font-family ($color-letra-oscuro, medium);
            text-align: center;
            font-weight: bold;
            flex-wrap: wrap;
            grid-area: form-mapa;
            gap: 3em;
            justify-content: center;
            .campo-formulario{
            border: solid 3px $color-letra-oscuro;
            background-image: url(../images/catastro-3.jpg);
            background-repeat: no-repeat;
            background-position: top left;
            padding: 3em;
                .formulario {
                    width: auto;
                    height: auto;
                    max-width: 500px;
                    @include flexbox(column);
                    .dejanos-datos {
                        margin-bottom: 4rem;
                        margin-top: 4rem;
                        color: whitesmoke;
                        font-size: large;
                        font-weight: lighter;
                        margin-top: 4em;
                        background-color: black;
                    }
                    .datos {
                        background-color: black;
                        color: whitesmoke;
                        width: 50%;  
                        margin: 10px;
                        font-weight: 400;
                    }
                    .input {
                        width: 90%;
                        height: 2em;
                        margin: 0.5rem;
                        transition: height 3s, width 3s;  
                        text-align: center;
                        color: black;
                        &:hover {
                            height: 2em;
                            width: 100%;
                            border: solid 2px #cb73d3;
                        }
                    }
                    .boton {
                        cursor: pointer;
                        background-color:black;
                        border-color: black;
                            &:hover {
                                cursor: pointer;
                                background-color: rgba(255, 255, 255, 0.797);
                                border-color: rgba(255, 255, 255, 0.797);
                                color: black;
                                font-weight: bold;
                            }
                    }
                }
            }
            .campo-mapa {
                border: solid 3px $color-letra-oscuro;  
                justify-content: baseline;  
                max-width: auto;
                width: auto;
                height: auto;
                padding: 3em;
                background-image: url(../images/catastro-3.jpg);
                background-repeat: no-repeat;
                background-position: top right;
                .donde-estamos {
                    color: whitesmoke;
                    background-color: black;
                }
                .mapa{
                    margin-left: 0;
                    margin-right: 0;
                } 
            }
        }
    }    
    footer {
        grid-template-areas:"el-footer el-footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .el-footer{
            grid-area: el-footer;
        }
        .estilo-footer  {
            font-family: 'Urbanist', sans-serif;
            font-size: .8rem;
            color: $color-letra-oscuro;
            }
        .flex-footer {
            li {
                display: inline-flex;
                a:link, a:visited, a:active {
                    text-decoration: none;
                    cursor: pointer;
                }
                a {     
                    color: $color-letra-oscuro;
                    &:hover{
                        color: white;
                    }
                }    
            }
        }
    }

     /*MEDIA QUERIES CONTACTO*/

    /*Small devices (576 a 768px)*/
    
    @media (min-width: 576px) and (max-width: 768px){
        header{
            .navbar{
                .container-fluid{
                    div{
                        .menu{
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        .el-main-contacto {
            display: grid;
            grid-template-areas:"banner"
                                "diseno-subtitulo"
                                "form-mapa"
                                "form-mapa";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;   
            .banner {
                display: flex;
                width: auto;
            }                
            h2 {
                text-align: center;
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .form-mapa{
                padding: 3em;
                @include flexbox(column);
                .campo-formulario {
                    width: 100%;
                    justify-self: center;
                }
                .campo-mapa{
                    width: 100%;
                    justify-self: center;
                }
            }
        }
    footer {
        grid-template-areas:"el-footer el-footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .el-footer{
            grid-area: el-footer;
        }
        }
    }    
}