
body {  
    header{
        nav{              
            .container-fluid{  
                .diseno-titulo {
                    a{
                        &:hover {
                            color: white;}
                        }   
                    }
                    .botoncito{
                        background-color: #F8FAFF;
                        border: solid #F8FAFF;
                    }
                }
            }
        } 
    .dpto-main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:"banner banner"
                            "carousel el-subtitulo";
        border: solid 5px $color-letra-oscuro;  
        margin-top: 6em;
        width: auto;
        height: fit-content;
        margin-left: 2em;
        margin-right: 2em;
        background-image: url(../images/mathilde-langevin-8o9BX-Nht2E-unsplash.jpg);
        background-position: center top;
        gap: 3em;
        .banner {
            grid-area: banner;
        }
        .el-subtitulo {  
            grid-area: el-subtitulo;
            border-bottom: solid 0 $color-banner; 
            width: 100%;
            margin-top: 2.5em;
              .el-departamento {
                color: black;
                font-family: 'Sacramento', cursive;
                }
              
              .texto-departamento {
                border: solid 2px black;
                background-color: rgba(245, 245, 245, 0.257);
                p {
                    padding: 1rem;
                    color: black;
                    font-family: 'Playfair Display', serif;
                    font-size: medium;
                }
              }
        }       
        .carousel{
            grid-area: carousel;
            width: 100%;
            height: auto;
            justify-content: center;
            margin-top: 10em;
            margin-bottom: 1em;
        }
    }
    footer {
        display:grid;
        grid-template-areas: "el-footer el-footer";
        grid-column: 1fr 1fr;
        grid-row: auto;
        background-color: $color-header-footer;
        height: $margen/2;;
        @include flexbox (row);
        justify-content: space-between;
        .el-footer{
        grid-area: el-footer;
        }
        .estilo-footer  {
            font-family: 'Urbanist', sans-serif;
            font-size: .8rem;
            color: $color-letra-oscuro;
            }
        .flex-footer {
            font-family: 'Urbanist', sans-serif;
            font-size: $margen/7;
            li {
                display: inline-flex;
                a:link, a:visited, a:active {
                    text-decoration: none;
                    cursor: pointer;
                }
                a {     
                    color: $color-letra-oscuro;
                    &:hover{
                        color: white;
                    }
                }    
            }
        }
    }

 /*MEDIA QUERIES DEPARTAMENTO*/

    /*Small devices (576 a 768px)*/
    @media (min-width: 576px) and (max-width: 768px){
        .dpto-main-grid{
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: auto 2fr auto;
        grid-template-areas:"banner banner banner"
                            "el-subtitulo el-subtitulo el-subtitulo"   
                            "carousel carousel carousel";
        margin: 2em 2em 2em 2em;
        overflow-x: hidden;
        @include flexbox (column);
        .el-subtitulo {   
            display: flex;
            justify-self: center;
            height: auto;
            width: 100%;
            flex-direction: column;
        }
        .carousel{
            width: auto;
            height: auto;
            justify-self: center;
            margin-top: -4em;
            margin-bottom: 5em;
           }
    }
        footer {
        grid-template-areas:"el-footer el-footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .el-footer{
            grid-area: el-footer;
        }
        }
    }
}