$color-banner:#d4bcd6 ;
$color-header-footer: #a0b986;
$color-letra-oscuro: black;
$color-letra-claro: #d4bcbc;
$color-amarillo: #f1a208;
$margen: 100px;
$quantity: 15;

@mixin font-family($color, $size) {
    font-family: 'Playfair Display', serif;
    color: $color;
    font-size: $size;
}

@mixin flexbox ($direccion) {
    display: flex;
    flex-direction: $direccion;
}

$mapa: (
    color-banner: #7b5d5e,
    color-header-footer: #acba9d,
    color-letra-oscuro: #2e3532,
    color-letra-claro: #d4bcbc,
    color-boton-card: #f1a208,
    color-boton-hover: #f1a208
);