$color-banner: rgb(41, 41, 41);
$color-header-footer: #acba9d;
$color-letra-oscuro: #2e3532;
$color-letra-claro: #d4bcbc;
$margen: 100px;
$quantity: 15;

@mixin font-family($color, $size) {
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    color: $color;
    font-size: $size;
}

@mixin flexbox ($direccion) {
    display: flex;
    flex-direction: $direccion;
}

$mapa: (
    color-banner: #7b5d5e,
    color-header-footer: #acba9d,
    color-letra-oscuro: #2e3532,
    color-letra-claro: #d4bcbc,
    color-boton-card: white,
    color-boton-hover: white
);