@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*INDEX*/
body {
        header{
        position: sticky;
        margin: .9em;
        nav{
            background-color: $color-header-footer;               
            div{
                .diseno-titulo {
                        margin-left: $margen/5;
                        margin-top: $margen/10;
                        margin-bottom: $margen/5;    
                    }
                    a{
                        text-decoration: none;
                        @include font-family ($color-letra-oscuro, $margen/3);
                        &:hover {
                            color: white;}
                        }   
                    } 
                .color-icono {
                        background-color: #F8FAFF;
                        border: solid #F8FAFF;
                    }
                }   
                div{
                    div{
                        .navbar-nav{
                            a{
                                font-family:'Urbanist', sans-serif;
                                font-weight: bold, 600;
                                &:hover {
                                    color: $color-letra-oscuro;
                                    }
                                }
                            .color-nav 
                                {color:white;
                                }
                            }
                        }
                    }
                } 
    main{
        display: grid;
        grid-template-areas: "banner banner banner" 
                            "el-subtitulo el-subtitulo el-subtitulo"
                            "carousel carousel carousel"
                            "las-cards las-cards las-cards";
        grid-template-columns: 33% 33% 34%;
        grid-template-rows: auto auto auto auto;
        border: solid $color-banner;  
        margin: 1em;
        padding: 1.3em; 
        margin-top: $margen/10;
        margin-bottom: $margen/10;
        @include flexbox(column);
        @include font-family($color-letra-oscuro, medium);
        .banner{
            grid-area: banner;
            background-color: $color-banner;
            padding: 2.1em;
            margin-top: .8em;
            height: 7em;
            .texto-hola{
                font-family:'Paytone One', sans-serif;
                color: whitesmoke;
                font-size: 25px;
                text-align: center;
                animation: focus-in-expand 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation-name:  focus-in-expand;
                }
                @keyframes focus-in-expand {
                    0% {
                    letter-spacing: -0.5em;
                    filter: blur(12px);
                    opacity: 0;
                    }
                    100% {
                    filter: blur(0px);
                    opacity: 1;
                    }
                }   
            }
              
        h2 {    
            @include font-family ($color-letra-oscuro, $margen/4);
            grid-area: el-subtitulo;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-left: 1rem;
            margin-bottom: 2rem;
            padding-top: 1rem; 
            }
        .carousel {
            grid-area: carousel; 
            }
        .las-cards {
            .card {
                .card-body {
                    height:7rem;
                    text-align: center;
                    h5 {
                        font-family: 'Urbanist', sans-serif;
                        font-weight: bold 600;
                        a {
                            height: $margen/2.5;
                            width: $margen*1.5;
                            background-color: map-get($mapa, $key:color-boton-card);
                            border-color: map-get($mapa , $key:color-boton-card );
                            transition: ease-in 1s;
                            color: $color-letra-oscuro;
                            font-weight: bolder;
                            &:hover {
                                background-color: map-get($mapa , $key:color-boton-hover );
                                border-color:solid 2px map-get($mapa , $key:color-boton-hover );
                                transform: scale(1.1);
                                }
                            }
                        }
                    .card-text {
                        font-weight: 300;
                        padding-bottom: 3rem;
                        padding-right: 1.5rem;
                        text-align: center;
                    }
                }
            }
        }
    }
        
    footer {
        background-color: $color-header-footer;
        width:cover;
        height: $margen/2;
        margin: .9em;
        padding-left: $margen/10;
        padding-right: $margen/10;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        p  {
            font-family: 'Urbanist', sans-serif;
            font-weight: bolder;
            font-size: $margen/7;
            color: $color-letra-oscuro;
            }
        ul {
            font-family: 'Urbanist', sans-serif;
            font-weight: bolder;
            font-size: $margen/7;
            li {
                display: inline-flex;
                a:link, a:visited, a:active {
                    text-decoration: none;
                    cursor: pointer;
                }
                a {     
                    color: $color-letra-oscuro;
                    &:hover{
                        color: white;
                    }
                }    
            }
        }
    }


 /*MEDIA QUERIES INDEX*/

    /*Small devices (576 a 768px)*/
     @media (min-width: 576px) and (max-width: 768px){
        header{
            .navbar{
                .container-fluid{
                    .botoncito {
                        margin-right: 3em;
                    }
                    div{
                        .menu{
                            align-items: flex-start;
                            margin-right: 3em;
                        }
                    }
                }
            }
        }
        .main-grid {
            grid-template-areas: "banner" 
                                 "el-subtitulo"
                                 "carousel"
                                 "las-cards";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            .banner{
                align-items: center;
                .texto-hola{
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
            h2 {
                font-size: 1.2rem;
                text-align: center;
            }
            .las-cards {
            @include flexbox(column);
            justify-content: space-between;
            align-self: center;
            .card-body{
                .card-text{
                    display: inline;
                }
            }
        }
    }
        footer {
        grid-template-areas:"p flex-footer" 
                            "p flex-footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
            p {
                grid-area: p;
                @include flexbox (column);
            }
            .flex-footer{
                grid-area: flex-footer;
                @include flexbox (column);
            }
        }
    }
}
    
      
 /*Desarrollo html Dpto*/
body {    
    header{
        nav{              
            div{
                .diseno-titulo {
                    a{
                        text-decoration: none;
                        @include font-family ($color-letra-oscuro, $margen/3);
                        &:hover {
                            color: white;}
                        }   
                    }
                }
            }
        } 
    .dpto-main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:"banner banner"
                            "diseno-subtitulo diseno-subtitulo"   
                            "carousel carousel"
                            "texto-departamento texto-departamento";
        border: solid $color-banner;  
        margin: 1em;
        padding: 1.3em; 
        row-gap: 1.5em;
        padding: 1.5em;
        @include flexbox(column);
        .banner {
            grid-area: banner;
        }
        .diseno-subtitulo {
            grid-area: diseno-subtitulo;
        }       
        .carousel{
            grid-area: carousel;
        }
        .texto-departamento {
            grid-area: texto-departamento;
            @include font-family (black, 300);
            justify-content: center;
            border:solid #2E3532;
            padding: 3%;
        }
    }
    footer {
        background-color: $color-header-footer;
        width:cover;
        height: $margen/2;
        margin: .9em;
        padding-left: $margen/10;
        padding-right: $margen/10;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        p  {
            font-family: 'Urbanist', sans-serif;
            font-weight: bolder;
            font-size: $margen/7;
            color: $color-letra-oscuro;
            }
        ul {
            font-family: 'Urbanist', sans-serif;
            font-weight: bolder;
            font-size: $margen/7;
            li {
                display: inline-flex;
                a:link, a:visited, a:active {
                    text-decoration: none;
                    cursor: pointer;
                }
                a {     
                    color: $color-letra-oscuro;
                    &:hover{
                        color: white;
                    }
                }    
            }
        }
    }

/*MEDIA QUERIES DPTO*/   
/*/ Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) and (max-width: 768px){
        .dpto-main-grid {
            grid-template-areas: "banner" 
                                "diseno-subtitulo"
                                "carousel"
                                "texto-departamento";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            gap: 2em;
            }   
        .texto-hola{
            font-size: 1.5rem;
            text-align: center;
        }
        h2 {
            font-size: 1.2rem;
            text-align: center;
        }
        p .texto-departamento{
            width: 70%;
        }
        footer {
            p {
                @include flexbox (column);
            }
    }
}
}
/*Desarrollo html Cordoba*/

    .el-main-cba {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:"banner banner"
                            "diseno-subtitulo diseno-subtitulo"   
                            "card-cba card-cba";
        border: solid $color-banner; 
        margin: 1em;
        padding: 1.3em; 
        margin-top: $margen/10;
        margin-bottom: $margen/10;
        @include flexbox(column);
        @include font-family (black, medium);
        .banner {
            grid-area: banner;
        }
        .diseno-subtitulo{
            padding-left: 2rem;
        }
        .card-cba{
            grid-area: card-cba;
            @include flexbox(column);
            padding: 2%;
            #carouselExampleCaptions {
                .carousel-inner {
                    .carousel-item {
                        .carousel-caption{
                            color: black;
                            background-color: #F8FAFF;
                            background-position-x: left;
                        }
                    }
                }
            }
            .texto-cordoba{
                text-align: center;
                font-weight: 600;
                border: solid 3px $color-header-footer;
                margin-top: 5em;
                padding: 1rem;
            }
        }
    }
/*/ Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) and (max-width: 768px){
        .el-main-cba {
            border: solid 5px #7b5d5e;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:"banner"
                                "diseno-subtitulo"   
                                "card-cba";
            gap: 3em;
        @include font-family (black, medium);                  
        } 
        .diseno-subtitulo{
            align-self: center;
        }
    }


/*Desarrollo html Estadias*/

    .estadias-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:"banner banner"
                            "diseno-subtitulo diseno-subtitulo"   
                            "texto-estadia texto-estadia"
                            "cards-estadia cards-estadia";
        row-gap: 1.5em;
        border: solid $color-banner;  
        margin-top: $margen/10;
        margin-bottom: $margen/10;
        margin: 1em;
        padding: 1.3em;
        @include flexbox(column);
        .banner{
            grid-area: banner;
        }
        .diseno-subtitulo{
            grid-area: diseno-subtitulo;
        }
        .estadia-bloque{
            @include flexbox(row);
            justify-content: space-evenly;
            .texto-estadia{
                grid-area: texto-estadia;
                width: 40em;
                height: 15em;
                text-align: center;
                font-weight: 600;
                border:solid 3px $color-header-footer;
                border-radius: 0.5;
                margin-top: 3.5em;
                padding: 1rem;
                background-color: whitesmoke;
            }
            .cards-estadia{
                grid-area: cards-estadia;
                @include font-family (black, medium);
                align-self: center;
                text-align: center;
                .card{
                    .card-body-estadias{
                        text-align: center;
                        .texto {
                            font-weight: 400;
                        }
                    }
                }
                .card-dos{
                    div{
                        .card-title{
                            align-self: center;
                            @include font-family (white, 10px);
                            padding-top: 1rem;
                            .boton-estadia {
                                &:hover {
                                background-color: $color-banner;
                                border-color: $color-banner;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        @include flexbox(row);
        flex-wrap: wrap;
        margin-top: 22vh;
    }

    @media (min-width: 576px) and (max-width: 768px) {
        .estadias-main {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:"banner"
                                "diseno-subtitulo"   
                                "texto-estadia";
            border: solid 5px $color-banner;  
        }   
        .diseno-subtitulo{
            align-self: center;
        }
        .cards-estadia {
            align-self: center;
        }
    }


/*Desarrollo html Contacto*/
body {
    .el-main-contacto {
        display: grid;
        background-size: 100%;
        border: solid $color-banner;  
        margin: 1em;
        padding: 1.3em;
        grid-template-areas: "banner"
                            "diseno-subtitulo"
                            "form-mapa"
                            "form-mapa";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;                    
        .banner{
            grid-area: banner;
        }
        .diseno-subtitulo{
            grid-area: diseno-subtitulo;
            padding-left: 6em;
        }
        .form-mapa{
            @include flexbox(row);
            flex-wrap: wrap;
            grid-area: form-mapa;
            gap: 4em;
            margin-bottom: 2em;
            justify-content: space-evenly;
            .formulario {
                @include font-family ($color-letra-oscuro, medium);
                padding-top: 5em;
                padding-bottom: 1em;
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
                @include flexbox(column);
                .input {
                    width: 90%;
                    height: 2em;
                    margin: 0.5rem;
                    transition: height 3s, width 3s;  
                    &:hover {
                        height: 2em;
                        width: 100%;
                        border: solid 1px black;
                    }
                }
                .boton {
                    cursor: pointer;
                    background-color: $color-banner;
                    border-color: $color-banner;
                        &:hover {
                            @extend .boton;
                        }
                }
            }
        }
    }
    @media (min-width: 576px) and (max-width: 768px) {
        .texto-hola{
            align-self: center;
        }
        .el-main-contacto {
            grid-template-areas:"banner"
                                "diseno-subtitulo"
                                "form-mapa";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto; 
            border: solid 5px $color-banner; 
            flex-wrap: wrap;
            @include flexbox(column);
            align-content: center;          
            .diseno-subtitulo {
                margin-left: 0%;
                align-self: center;
            }
            .formulario {
                width: 100%;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
   