@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*INDEX*/
body {
    background-color: $color-banner;
        header{
        position: sticky;
        margin: .9em;
        nav{
            background-color: $color-header-footer;               
            .container-fluid {
                .diseno-titulo {
                        margin-left: $margen/5;
                        margin-top: $margen/10;
                        margin-bottom: $margen/5; 
                        a{
                            text-decoration: none;
                            @include font-family ($color-letra-oscuro, 2rem);
                            &:hover {
                                color: white;}
                            }
                        }
                .botoncito {
                        background-color: #F8FAFF;
                        border: solid #F8FAFF;
                    }
             
                }
            }   
                div{
                    div{
                        .navbar-nav{
                            a{
                                font-family:'Urbanist', sans-serif;
                                font-weight: bold, 600;
                                &:hover {
                                    color: $color-letra-oscuro;
                                    }
                                }
                            .color-nav 
                                {color:white;
                                }
                            }
                        }
                    }
                } 
    main{
        display: grid;
        grid-template-areas:"banner banner banner" 
                            "el-subtitulo el-subtitulo el-subtitulo"
                            "carousel carousel carousel"
                            "las-cards las-cards las-cards";
        grid-template-columns: 33% 33% 34%;
        grid-template-rows: auto auto auto auto;
        border: solid 5px $color-letra-oscuro; 
        margin: 1em;
        padding: 1.3em; 
        margin-top: $margen/10;
        margin-bottom: $margen/10;
        @include flexbox(column);
        @include font-family($color-letra-oscuro, medium);
        .banner{
            grid-area: banner;
            background-image: url(../images/02.jpg);
            background-position: center center;
            justify-content: space-around;
            padding-bottom: 5%;
            height: 7em;}              
        h2 {    
            @include font-family ($color-letra-oscuro, $margen/4);
            grid-area: el-subtitulo;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-left: 1rem;
            margin-bottom: 2rem;
            padding-top: 1rem; 
            }
        .carousel {
            grid-area: carousel; 
            }
        .las-cards {
            .card {
                background-color: rgb(215, 212, 212);
                .card-img-top{
                    height: 180px;
                }
                .card-body {
                    height:7rem;
                    text-align: center;
                    h5 {
                        font-family: 'Urbanist', sans-serif;
                        font-weight: bold 600;
                        a {
                            height: $margen/2.5;
                            width: $margen*1.5;
                            background-color: map-get($mapa, $key:color-boton-card);
                            border-color: map-get($mapa , $key:color-boton-card );
                            transition: ease-in 1s;
                            color: $color-letra-oscuro;
                            font-weight: bolder;
                            &:hover {
                                background-color: map-get($mapa , $key:color-boton-hover );
                                border-color:solid 2px map-get($mapa , $key:color-boton-hover );
                                transform: scale(1.1);
                                }
                            }
                        }
                    .card-text {
                        font-weight: 300;
                        padding-bottom: 3rem;
                        padding-right: 1.5rem;
                        text-align: center;
                    }
                }
            }
        }
    }
        
    footer {
        display:grid;
        grid-template-areas:"el-footer el-footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        background-color: $color-header-footer;
        margin: .9em;
        padding-left: $margen/10;
        padding-right: $margen/10;
        @include flexbox(inline-flex);
        justify-content: space-between;
        align-items: center;
        .el-footer{
            grid-area: el-footer;
        }
        .estilo-footer  {
            font-family: 'Urbanist', sans-serif;
            font-size: .8rem;
            font-weight: bold;
            color: $color-letra-oscuro;
            }
        .flex-footer {
            li {
                margin-top: 10px;
                padding: 5px;
                a:link, a:visited, a:active {
                    text-decoration: none;
                    cursor: pointer;
                }
                a {     
                    &:hover{
                        border-color: #F8FAFF;
                    }
                }    
            }
        }
    }

 /*MEDIA QUERIES INDEX*/

    /*Small devices Index (576 a 768px)*/
     @media (min-width: 576px) and (max-width: 768px){
        header{
            .navbar{
                .container-fluid{
                    div{
                        .menu{
                            align-items: flex-start;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .main-grid {
            grid-template-areas: "banner" 
                                 "el-subtitulo"
                                 "carousel"
                                 "las-cards"
                                 "las-cards"
                                 "las-cards";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto auto;
            .banner{
                width: 100%;
            }
            h2 {
                font-size: 1.2rem;
                text-align: center;
            }
            .las-cards {
            @include flexbox(column);
            justify-content: space-between;
            align-self: center;
            gap: 2px;
            .card {
                display: block;
            }
        }
    }
        footer {
            grid-template-areas:"el-footer el-footer";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            .el-footer{
                grid-area: el-footer;
            }
        }
    }
     /*Extra Small devices (300 a 576px)*/
     @media (min-width: 300px) and (max-width: 576px){
        header{
            .navbar{   
                .container-fluid{
                    .diseno-titulo{
                        a {
                            font-size: 1.5rem;
                        }
                    }
                    div{
                        .menu{
                            align-items: flex-start;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .main-grid {
            grid-template-areas: "banner" 
                                 "el-subtitulo"
                                 "carousel"
                                 "las-cards"
                                 "las-cards"
                                 "las-cards";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto auto;
            .banner{
                justify-content: space-around;
                height: 5rem;
            }
            h2 {
                font-size: 1.2rem;
                text-align: center;
            }
            .las-cards {
            @include flexbox(column);
            justify-content: space-between;
            align-self: center;
            }
        }
    
        footer {
            grid-template-areas:"el-footer el-footer";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            .el-footer{
                grid-area: el-footer;
            }
            p {
                font-size: 5px;
            }
            .flex-footer {
                display: flex;
                flex-direction: row;
            }
        }
    }
}

 /*DESARROLLO DPTO*/
body { 
    background-color: $color-banner;   
    header{
        nav{              
            .container-fluid{  
                .diseno-titulo {
                    a{
                        text-decoration: none;
                        @include font-family ($color-letra-oscuro, $margen/3);
                        &:hover {
                            color: white;}
                        }   
                    }
                    .botoncito{
                        background-color: #F8FAFF;
                        border: solid #F8FAFF;
                    }
                }
            }
        } 
    .dpto-main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:"banner banner"
                            "diseno-subtitulo diseno-subtitulo"   
                            "carousel carousel"
                            "texto-departamento texto-departamento";
        border: solid 5px $color-letra-oscuro; 
        margin: 1em;
        padding: 1.3em; 
        row-gap: 1.5em;
        padding: 1.5em;
        @include flexbox(column);
        .banner {
            grid-area: banner;
        }
        .diseno-subtitulo {
            grid-area: diseno-subtitulo;
        }       
        .carousel{
            grid-area: carousel;
        }
        .texto-departamento {
            grid-area: texto-departamento;
            @include font-family (black, 300);
            justify-content: center;
            border:solid #2E3532;
            padding: 3%;
        }
    }
    footer {
        display:grid;
        grid-template-areas: "el-footer el-footer";
        grid-column: 1fr 1fr;
        grid-row: auto;
        background-color: $color-header-footer;
        width:cover;
        height: $margen/2;
        margin: .9em;
        padding-left: $margen/10;
        padding-right: $margen/10;
        @include flexbox (row);
        justify-content: space-between;
        .el-footer{
        grid-area: el-footer;
        }
        .estilo-footer  {
            font-family: 'Urbanist', sans-serif;
            font-size: .8rem;
            color: $color-letra-oscuro;
            }
        .flex-footer {
            font-family: 'Urbanist', sans-serif;
            font-size: $margen/7;
            li {
                display: inline-flex;
                a:link, a:visited, a:active {
                    text-decoration: none;
                    cursor: pointer;
                }
                a {     
                    color: $color-letra-oscuro;
                    &:hover{
                        color: white;
                    }
                }    
            }
        }
    }

 /*MEDIA QUERIES DEPARTAMENTO*/

    /*Small devices (576 a 768px)*/
    @media (min-width: 576px) and (max-width: 768px){
        header{
            .navbar{
                .container-fluid{
                    div{
                        .menu{
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        .dpto-main-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:"banner"
                                "diseno-subtitulo"   
                                "carousel"
                                "texto-departamento";
            h2 {
                font-size: 1.2rem;
                text-align: center;
            }       
        }
        footer {
        grid-template-areas:"el-footer el-footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .el-footer{
            grid-area: el-footer;
        }
        }
    }
     /*Extra Small devices (300 a 576px)*/
     @media (min-width: 300px) and (max-width: 576px){
        header{
            .navbar{
                .container-fluid{
                    div{
                        .menu{
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        .dpto-main-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:"banner"
                                "diseno-subtitulo"   
                                "carousel"
                                "texto-departamento";
            h2 {
                font-size: 1.2rem;
                text-align: center;
            }       
        }
        footer {
        grid-template-areas:"el-footer el-footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .el-footer{
            grid-area: el-footer;
        }
        }
    }
}


/*DESARROLLO CORDOBA*/
body{
    background-color: $color-banner;
    .el-main-cba {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:"banner banner"
                            "diseno-subtitulo diseno-subtitulo"   
                            "card-cba card-cba";
        border: solid 5px $color-letra-oscuro; 
        margin: 1em;
        padding: 1.3em; 
        margin-top: $margen/10;
        margin-bottom: $margen/10;
        background-color: $color-banner;
        @include flexbox(column);
        @include font-family (black, medium);
        .banner {
            grid-area: banner;
        }
        h2 {
            text-align: left;
        }
        .card-cba{
            grid-area: card-cba;
            @include flexbox(column);
            padding: 2%;
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        .card-img-top {
                            height: auto;
                        }
                        .carousel-caption{
                            font-family: 'Paytone One', sans-serif;
                            font-weight: 600;
                            color: black;
                        }
                    }
                }
            }
            .texto-cordoba{
                border: solid 5px #F8FAFF;
                width: 100%;   
                text-align: center;
                border: solid 3px $color-letra-oscuro;
                margin-top: 5em;
                padding: 1rem;
            }
        }
        footer {
            display:grid;
            grid-template-areas: "el-footer el-footer";
            grid-column: 1fr 1fr;
            grid-row: auto;
            background-color: $color-header-footer;
            width:cover;
            height: $margen/2;
            margin: .9em;
            padding-left: $margen/10;
            padding-right: $margen/10;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .el-footer{
                grid-area: el-footer;
            }
            .estilo-footer {
                font-family: 'Urbanist', sans-serif;
                font-size: .8rem;
                color: $color-letra-oscuro;
                }
            .flex-footer {
                li {
                    display: inline-flex;
                    a:link, a:visited, a:active {
                        text-decoration: none;
                        cursor: pointer;
                    }
                    a {     
                        color: $color-letra-oscuro;
                        &:hover{
                            color: white;
                        }
                    }    
                }
            }
        }
    }

  /*MEDIA QUERIES CORDOBA*/

    /*Small devices (576 a 768px)*/
    @media (min-width: 576px) and (max-width: 768px){
        header{
            .navbar{
                .container-fluid{
                    div{
                        .menu{
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        .el-main-cba {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:"banner "
                                "diseno-subtitulo"   
                                "card-cba";
            h2 {
                font-size: 1.2rem;
                text-align: center;
            }
        }           
    footer {
        grid-template-areas:"el-footer el-footer";                           
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .el-footer{
            grid-area: el-footer;
        }
        }
    }

     /*Extra Small devices (300 a 576px)*/

     @media (min-width: 300px) and (max-width: 576px){
        header{
            .navbar{
                .container-fluid{
                    div{
                        .menu{
                            align-items: flex-start
                        }
                    }
                }
            }
        }
        .el-main-cba {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:"banner "
                                "diseno-subtitulo"   
                                "card-cba";
            h2 {
                font-size: 1.2rem;
                text-align: center;
            }
        }
        footer {
            grid-template-areas:"el-footer el-footer";
            grid-template-columns:1fr 1fr;
            grid-template-rows: auto;
            .el-footer {
                grid-area: el-footer;
            }
            }
        }
    }


/*DESARROLLO ESTADIAS*/
body {
    background-color: $color-banner;
    header{
        nav{              
            div{
                .diseno-titulo {
                    a{
                        text-decoration: none;
                        @include font-family ($color-letra-oscuro, $margen/3);
                        &:hover {
                            color: white;}
                        }   
                    }
                    .botoncito{
                        background-color: #F8FAFF;
                        border: solid #F8FAFF;
                    }
                }
            }
        } 
        .estadias-main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:"banner banner"
                                "diseno-subtitulo diseno-subtitulo"   
                                "estadia-bloque estadia-bloque"
                                "estadia-bloque estadia-bloque";
            row-gap: 1.5em;
            border: solid 5px $color-letra-oscuro; 
            margin-top: $margen/10;
            margin-bottom: $margen/10;
            margin: 1em;
            padding: 1.3em;
            @include flexbox(column);
            .banner{
                grid-area: banner;
            }
            h2 {
                grid-area: diseno-subtitulo;
            }
            .estadia-bloque{
                grid-area: estadia-bloque;
                @include flexbox(column);
                flex-flow: column;
                align-items: center;
                gap: 2em;
                border:solid 3px $color-letra-oscuro;
                border-radius: 0.5;
                padding: 3em;
                margin-top: 3em;
                .texto-estadia{
                    width: auto;
                    height: auto;
                    text-align: center;
                    font-weight: 300;
                }
                .cards-estadia{
                    @include font-family (black, medium);
                    text-align: center;
                    width: auto;
                    .card{
                        display: flex;
                        flex-wrap: wrap;
                        align-self: center;
                        @include font-family (white, 10px);
                        .card-body{
                            text-align: center;
                            .card-title {
                                font-weight: 400;
                            }
                            .boton-estadia {
                                background-color: $color-amarillo;
                                border-color: $color-amarillo;
                                &:hover {
                                background-color: $color-amarillo;
                                border-color: $color-amarillo;
                                }
                            }
                        }
                    }
                }
            }
        }      
        footer {
            display:grid;
            grid-template-areas: "el-footer el-footer";
            grid-column: 1fr 1fr;
            grid-row: auto;
            background-color: $color-header-footer;
            width:cover;
            height: $margen/2;
            margin: .9em;
            padding-left: $margen/10;
            padding-right: $margen/10;
            @include flexbox(row);
            justify-content: space-between;
            .el-footer{
            grid-area: el-footer;
            }
            .estilo-footer  {
                font-family: 'Urbanist', sans-serif;
                font-size: .8rem;
                color: $color-letra-oscuro;
                }
            .flex-footer {
                li {
                    display: inline-flex;
                    a:link, a:visited, a:active {
                        text-decoration: none;
                        cursor: pointer;
                    }
                    a {     
                        color: $color-letra-oscuro;
                        &:hover{
                            color: white;
                        }
                    }    
                }
            }
        }

    /*MEDIA QUERIES ESTADIAS*/

    /*Small devices (576 a 768px)*/
    @media (min-width: 576px) and (max-width: 768px){
        header{
            .navbar{
                .container-fluid{
                    div{
                        .menu{
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        .estadias-main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:"banner banner"
                                "diseno-subtitulo diseno-subtitulo"   
                                "estadia-bloque estadia-bloque"
                                "estadia-bloque estadia-bloque";
            h2 {
                font-size: 1.2rem;
                text-align: center;
            }
            .estadia-bloque{
                display: block;
                .cards-estadia{
                    justify-content: center;
                }    
            }
        }       
    footer {
        grid-template-areas:"el-footer el-footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .el-footer{
            grid-area: el-footer;
        }
        }
    }
     
    /*Extra Small devices (300 a 576px)*/

     @media (min-width: 300px) and (max-width: 576px){
        header{
            .navbar{
                .container-fluid{
                    div{
                        .menu{
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        .estadias-main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:"banner banner"
                                "diseno-subtitulo diseno-subtitulo"   
                                "estadia-bloque estadia-bloque"
                                "estadia-bloque estadia-bloque";
            h2 {
                font-size: 1.2rem;
                text-align: center;
            }
            .estadia-bloque{
                display: block;
                justify-content: center;
                .cards-estadia{
                    justify-content: center;
                    .card{
                        justify-self: center;
                        align-self: center;
                        }
                }    
            }
        }       
    footer {
        grid-template-areas:"el-footer el-footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        .el-footer{
            grid-area: el-footer;
        }
        }
    }
}


/*DESARROLLO CONTACTO*/

body {
    background-color: $color-banner;
    header{
        nav{              
            div{
                h1{
                    a{
                        text-decoration: none;
                        @include font-family ($color-letra-oscuro, $margen/3);
                        &:hover {
                            color: white;}
                        }   
                    }
                    .botoncito{
                        background-color: #F8FAFF;
                        border: solid #F8FAFF;
                    }
                }
            }
        } 
    .el-main-contacto {
        display: grid;
        grid-template-areas:"banner banner"
                            "diseno-subtitulo diseno-subtitulo"
                            "form-mapa form-mapa"
                            "form-mapa form-mapa";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto; 
        border: solid 5px $color-letra-oscuro;                  
        .banner{
            grid-area: banner;
        }
        h2 {
            grid-area: diseno-subtitulo;
            text-align: left;
        }
        .form-mapa{
            @include flexbox(row);
            @include font-family ($color-letra-oscuro, medium);
            text-align: center;
            font-weight: bold;
            flex-wrap: wrap;
            grid-area: form-mapa;
            gap: 3em;
            justify-content: center;
            .campo-formulario{
            border: solid 3px $color-letra-oscuro;
            padding: 3em;  
                .formulario {
                    width: auto;
                    height: auto;
                    max-width: 500px;
                    @include flexbox(column);
                    .input {
                        width: 90%;
                        height: 2em;
                        margin: 0.5rem;
                        transition: height 3s, width 3s;  
                        text-align: center;
                        &:hover {
                            height: 2em;
                            width: 100%;
                            border: solid 2px $color-amarillo;
                        }
                    }
                    .boton {
                        cursor: pointer;
                        background-color: $color-amarillo;
                        border-color: $color-amarillo;
                            &:hover {
                                @extend .boton;
                            }
                    }
                }
            }
            .campo-mapa {
                border: solid 3px $color-letra-oscuro;  
                justify-content: baseline;  
                max-width: auto;
                width: auto;
                height: auto;
                padding: 3em;  
                .mapa{
                    margin-left: 0;
                    margin-right: 0;
                } 
            }
        }
    }    
    footer {
        grid-template-areas:"el-footer el-footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .el-footer{
            grid-area: el-footer;
        }
        .estilo-footer  {
            font-family: 'Urbanist', sans-serif;
            font-size: .8rem;
            color: $color-letra-oscuro;
            }
        .flex-footer {
            li {
                display: inline-flex;
                a:link, a:visited, a:active {
                    text-decoration: none;
                    cursor: pointer;
                }
                a {     
                    color: $color-letra-oscuro;
                    &:hover{
                        color: white;
                    }
                }    
            }
        }
    }

     /*MEDIA QUERIES CONTACTO*/

    /*Small devices (576 a 768px)*/
    
    @media (min-width: 576px) and (max-width: 768px){
        header{
            .navbar{
                .container-fluid{
                    div{
                        .menu{
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        .el-main-contacto {
            display: grid;
            grid-template-areas:"banner"
                                "diseno-subtitulo"
                                "form-mapa"
                                "form-mapa";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;   
            .banner {
                display: flex;
                width: auto;
            }                
            h2 {
                font-size: 1.2rem;
                text-align: center;
            }
            .form-mapa{
                @include flexbox(column);
                .campo-mapa{
                    width: auto;
                }
            }
        }
    footer {
        grid-template-areas:"el-footer el-footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .el-footer{
            grid-area: el-footer;
        }
        }
    }
     
    /*Extra Small devices (300 a 576px)*/

     @media (min-width: 300px) and (max-width: 576px) {
        header{
            .navbar{
                .container-fluid{
                    div{
                        .menu{
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        .el-main-contacto {
            display: grid;
            grid-template-areas:"banner"
                                "diseno-subtitulo"
                                "form-mapa"
                                "form-mapa";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;                    
            h2 {
                font-size: 1.2rem;
                text-align: center;
            }
            .banner{
                display: flex;
                flex-wrap: wrap;
            }
            .form-mapa{
                @include flexbox(column);
                width: auto;
                height: auto;
                .mapa {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    footer {
        grid-template-areas:"el-footer el-footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .el-footer{
            grid-area: el-footer;
        }
        }
    }
}



   